body {
    background-color: rgb(23, 23, 23);
}

a {
    text-decoration: none;
    color: white;
}

.cotainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 50px;
    padding: 10px;
    gap: 10px;
    background-color: rgb(64, 64, 64);
    border-radius: 7px;
}

.btn-one {
   display: flex;
   align-items: center;
   justify-content: center;

width: 175px;
height: 50px;
color: rgb(255, 255, 255);
font-weight: 500;
font-size: 16px;
margin-left: 40px;
background: #f6762c;
border-radius: 8px;
transition: width 0.3s ease, opacity 0.3s ease, height 0.3s ease;
} 

.header-h {
    color: rgb(255, 255, 255);
}


.btn-two {
    display: flex;
   align-items: center;
   justify-content: center;

width: 175px;
height: 50px;
color: rgb(255, 255, 255);
font-weight: 500;
font-size: 16px;
margin-right: 40px;
background: #f6762c;
border-radius: 8px;
transition: width 0.3s ease, opacity 0.3s ease, height 0.3s ease;
}

.btn-one:hover, .btn-two:hover {
    opacity: 0.8;
 width: 177px;
height: 52px;
}