html,
body {
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #202020;
	color: #959595;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: -0.5px;
	margin: 0;
}
img {
	max-width: 100%;
}

a {
	color: #dedede;
	text-decoration: none;
	transition: opacity 0.3s;
}

a:hover {
	opacity: 0.6;
}

.title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #dedede;

	margin-top: 0;
}

.btn {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 16px 48px;

	font-size: 18px;
	color: #fff;

	background: #9d9d9d;
	border-radius: 4px;
	font-weight: 600;

	/* display: inline-block; */
}
.btn:hover {
	opacity: 0.8;
}

.btn::before {
	/* content: url("./designer.img/="); */
	background-image: url("./designer.img/=");
	width: 21px;
	height: 16px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.burger-menu {
	display: none;
}

.header {
	padding: 20px 0;
	background: rgba(50, 50, 50, 0.7);
	backdrop-filter: blur(10px);
}
.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.github__icon {
	width: 40px;
	height: 40px;
}

.logo {
	font-weight: 800;
	display: flex;
	align-items: center;
	gap: 10px;
}

.header__nav {
	display: flex;
	gap: 60px;
}

.heager__link {
	font-weight: 700;
	font-size: 18px;
}

.welcome {
	margin-top: 160px;
}

.welcome .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.welcome__title {
	margin-top: 0;
	width: 600px;
	margin-bottom: 24px;
	font-weight: 600;
	font-size: 54px;
	line-height: 1.19;
	color: #dedede;
}

.welcome__text {
	width: 550px;
	margin-bottom: 80px;
}

.welcome__img {
	margin-right: 90px;

	width: 400px;
	height: 400px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.works {
	margin-top: 160px;
}

.work__btn {
	display: flex;
	align-items: center;
	gap: 22px;
	padding: 0;
	margin-bottom: 90px;

	background-color: transparent;
	border: none;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.5em;
	text-transform: uppercase;

	color: #dedede;
	opacity: 0.7;
}

.works__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	padding-top: 140px;
}

.work {
	height: 888px;
	position: relative;
}
.work:nth-child(odd) {
	margin-top: -140px;
}

.work:hover {
	opacity: 1;
}

.work__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.work__name {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 500;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.6);
}

.work:hover .work__name {
	opacity: 1;
	transition: opacity 0.3s;
}

.content .container {
	margin-top: 80px;
	max-width: 950px;
}

.welcome__text.experience--text {
	width: 950px;
}

.job__position {
	font-weight: 600;
	font-size: 24px;
}
.experience {
	opacity: 0.3;
}

.company {
	color: #fb6d3a;
}

.projects__title {
	margin-bottom: 140px;
}

.projects__wrapperr {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.projects__image {
	width: 400px;
	height: 400px;
	object-fit: cover;
	object-position: center;
}

.projects--vertical .projects__image {
	height: 560px;
}

.projects .container {
	margin-top: 200px;
}

.contact {
	margin-top: 200px;
	margin-bottom: 120px;
}

.contact .container {
	max-width: 720px;
	text-align: center;
}

.contact__title {
	margin-bottom: 24px;
}

.contact__text {
	margin-bottom: 50px;
	font-size: 26px;
}

.footer {
	padding: 40px 0;
	border-top: 1px solid #696969;
}
.footer .container {
	justify-content: space-between;
	display: flex;
	align-items: baseline;
}

.footer__copy {
	font-size: 16px;
	margin: 0;
}
.footer__copy span {
	color: #ececec;
}

.socials {
	display: flex;
	gap: 40px;
}

.socials__img {
	display: flex;
}
.footer__socials-link {
	display: inline-block;
	text-transform: 0.3s;
	width: 30px;
}

.footer__socials-link:hover {
	transform: scale(1.1);
}

.footer__socials-link + .footer__socials-link {
	margin-left: 10px;
}

.footer__list-item + .footer__list-item {
	margin-top: 15px;
}

.footer__socials {
	unicode-bidi: normal;
	margin-top: 16px;
}

/* 
@media (max-width: 1000px) {

} 
*/
@media (max-width: 1100px) {
	.welcome__img {
		margin-right: 0;
	}
}

@media (max-width: 950px) {
	.welcome__text.experience--text {
		width: 800px;
	}
	.welcome {
		margin-top: 70px;
	}
	.welcome .container {
		flex-direction: column-reverse;
		gap: 65px;
	}
	.welcome__title {
		width: auto;
	}
	.welcome__text {
		width: auto;
		margin-bottom: 50px;
	}
	.welcome__desc {
		text-align: center;
	}
	.work {
		height: 600px;
	}
	.work__name {
		opacity: 1;
	}
}

@media (max-width: 850px) {
	.welcome__text.experience--text {
		width: 700px;
	}
	.projects__image {
		height: 300px;
		width: 300px;
	}
	.projects .container {
		margin-top: 100px;
	}
	.projects__title {
		margin-bottom: 80px;
	}
	.contact {
		margin-top: 100px;
		margin-bottom: 80px;
	}
}

@media (max-width: 770px) {
	.welcome__text.experience--text {
		width: 650px;
	}
	.welcome__title {
		font-size: 36px;
	}
}

@media (max-width: 700px) {
	.welcome__text.experience--text {
		width: 550px;
	}
	.footer .container {
		flex-direction: column-reverse;
		align-items: center;
		gap: 35px;
	}
}

@media (max-width: 650px) {
	.welcome__text.experience--text {
		max-width: 450px;
	}
	.projects__image {
		width: 100%;
		height: 360px;
	}
	.works__wrapper {
		grid-template-columns: 1fr;
		padding-top: 0;
	}
	.work:nth-child(odd) {
		margin-top: 0;
	}
}

@media (max-width: 500px) {
	.welcome__text.experience--text {
		max-width: 400px;
	}

	.header {
		position: relative;
	}
	.header--mobile .header__nav {
		display: flex;
		align-self: center;
		flex-wrap: wrap;
		gap: 20px 30px;
		justify-content: center;
	}
	.header--mobile .container {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.burger-menu {
		display: block;
		border-color: transparent;
		padding: 0;
		border: none;
		position: absolute;
		top: 29px;
		right: 15px;
	}
	.burger-menu__icon {
		height: 30px;
		width: 40px;
		object-fit: contain;
		object-position: center;
	}

	.header__nav {
		display: none;
	}
	.welcome__img {
		width: 240px;
		height: 240px;
	}
	.btn {
		padding: 16px 20px;
	}
	.work__btn {
		letter-spacing: 1em;
		gap: 0;
		margin-bottom: 40px;
	}
	.work__name {
		font-size: 28px;
	}

	.works__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 25px;
		padding-top: 70px;
	}

	.works {
		margin-top: 100px;
	}
	.work {
		height: 300px;
		position: relative;
	}
	.work:nth-child(odd) {
		margin-top: -50px;
	}

	.projects__image {
		width: 200px;
		height: 200px;
	}
	.title {
		font-size: 28px;
	}
	.product__title {
		margin-bottom: 35px;
	}
	.contact__title {
		margin-bottom: 12px;
	}
	.contact .container {
		max-width: 350px;
	}
	.contact__text {
		font-size: 18px;
	}
}
@media (max-width: 450px) {
	.welcome__text.experience--text {
		max-width: 350px;
	}
	.projects__image {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 420px) {
	.welcome__text.experience--text {
		max-width: 300px;
	}
	.welcome__title {
		font-size: 26px;
	}
}
@media (max-width: 350px) {
	.welcome__text.experience--text {
		max-width: 250px;
	}
	.projects__image {
		width: 100px;
		height: 100px;
	}
}
