

body
{
	background-color: #202020;
	color: #959595;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: -0.5px;
	margin: 0;
}

a{
	color: #DEDEDE;
	text-decoration: none;
}

.container{
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}



.header {
	padding: 20px 0;
	background: rgba(50, 50, 50, 0.7);
	backdrop-filter: blur(10px);

}
.header .container{
		display: flex;
	align-items: center;
	justify-content: space-between;

}


.logo {
	font-weight: 800;
	display: flex;
	align-items: center;
	gap: 10px;

}

.header__nav {
	display: flex;
	gap: 60px;

}

.heager__link {
	font-weight: 700;
	font-size: 18px;

}