body {
	background-color: #202020;
	color: #959595;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: -0.5px;
	margin: 0;
}
img {
	max-width: 100%;
}

a {
	color: #dedede;
	text-decoration: none;
	transition: opacity 0.3s;
}

a:hover {
	opacity: 0.6;
}

.btn {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 16px 48px;

	font-size: 18px;
	color: #fff;

	background: #9d9d9d;
	border-radius: 4px;
	font-weight: 600;

	/* display: inline-block; */
}
.btn:hover {
	opacity: 0.8;
}

.btn::before {
	/* content: url("./designer.img/="); */
	background-image: url("./designer.img/=");
	width: 21px;
	height: 16px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.header {
	padding: 20px 0;
	background: rgba(50, 50, 50, 0.7);
	backdrop-filter: blur(10px);
}
.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-weight: 800;
	display: flex;
	align-items: center;
	gap: 10px;
}

.header__nav {
	display: flex;
	gap: 60px;
}

.heager__link {
	font-weight: 700;
	font-size: 18px;
}

.welcome {
	margin-top: 160px;
}

.welcome .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.welcome__title {
	margin-top: 0;
	width: 500px;
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 54px;
	line-height: 1.19;
	color: #dedede;
}

.welcome__text {
	width: 395px;
	margin-bottom: 80px;
}

.welcome__img {
	margin-right: 90px;

	width: 400px;
	height: 400px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.works {
	margin-top: 160px;
}

.work__btn {
	display: flex;
	align-items: center;
	gap: 22px;
	padding: 0;
	margin-bottom: 90px;

	background-color: transparent;
	border: none;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.5em;
	text-transform: uppercase;

	color: #dedede;
	opacity: 0.7;
}

.works__icon {
}

.works__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
}

.work {
	height: 888px;
	position: relative;
}
.work:nth-child(even) {
	position: relative;
	top: 140px;
}

.work:hover {
	opacity: 1;
}

.work__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.work__name {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 500;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.6);
}

.work:hover .work__name {
	opacity: 1;
	transition: opacity 0.3s;
}
